body{
   /* background-color: blueviolet;*/
}

.dropdown_list_{
    margin-left: auto;
}

.clickable{
    cursor: pointer;
}
.clickable:hover{
    text-decoration: underline;

}

#data_table tr,
#more_info_table_1 tr,
#more_info_table_2 tr
{
    cursor: pointer;
}
#data_table tr:hover,
#more_info_table_1 tr:hover,
#more_info_table_2 tr:hover {
    background-color: #0D6DFA;/*#0D6DFA*/
    color: #fff;
    /*font-weight: bold;*/
}

.error_border{
    border-color: #fc5959 !important;
}